POSTGRES_IMAGE=postgres:18.6
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=change-me
POSTGRES_DEFAULT_DB=postgres

ORDERS_DB_NAME=orderflow_orders
ORDERS_DB_USER=orders_app

INVENTORY_DB_NAME=orderflow_inventory
INVENTORY_DB_USER=inventory_app

PAYMENTS_DB_NAME=orderflow_payments
PAYMENTS_DB_USER=payments_app

PULSAR_IMAGE=apachepulsar/pulsar:4.2.4
PULSAR_TOPIC=persistent://public/default/orderflow-saga-events

ORDERS_HTTP_PORT=5001
INVENTORY_HTTP_PORT=5002
PAYMENTS_HTTP_PORT=5003
