POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=orderflow_admin_dev

ORDERS_DB_PASSWORD=orders_dev_password
INVENTORY_DB_PASSWORD=inventory_dev_password
PAYMENTS_DB_PASSWORD=payments_dev_password